<form class="overlight" id="character-sheet.form" autocomplete="off">
  <div class="flexrow o-cs-header-row">
    <div class="flexcol o-cs-logo">
      <img src="systems/overlight-vtt/assets/logo.png" title="Overlight" />
    </div>
    <div class="flexcol o-cs-core-details">
      <div class="flexrow">
        <label for="character-sheet.name">
          {{localize 'overlight-vtt.character.name'}}
        </label>
        <input id="character-sheet.name" name="name" value="{{actor.name}}" type="text" />
      </div>
      <div class="flexrow">
        <label for="character-sheet.folk">
          {{localize 'overlight-vtt.character.folk'}}
        </label>
        <select id="character-sheet.folk" name="data.folk">
          {{#select data.folk}}
          <option value=""></option>
          <option value="zenith">{{localize 'overlight-vtt.folk.zenith.name'}}</option>
          <option value="hamanu">{{localize 'overlight-vtt.folk.hamanu.name'}}</option>
          <option value="teryxian">{{localize 'overlight-vtt.folk.teryxian.name'}}</option>
          <option value="banyari">{{localize 'overlight-vtt.folk.banyari.name'}}</option>
          <option value="haarkeen">{{localize 'overlight-vtt.folk.haarkeen.name'}}</option>
          <option value="aurumel">{{localize 'overlight-vtt.folk.aurumel.name'}}</option>
          <option value="pyroi">{{localize 'overlight-vtt.folk.pyroi.name'}}</option>
          {{/select}}
        </select>
      </div>
      <div class="flexrow">
        <label for="character-sheet.core-virtue">
          {{localize 'overlight-vtt.character.core-virtue'}}
        </label>
        <select id="character-sheet.core-virtue" name="data.coreVirtue">
          {{#select data.coreVirtue}}
          <option value=""></option>
          <option value="wisdom">{{localize 'overlight-vtt.virtue.wisdom.name'}}</option>
          <option value="logic">{{localize 'overlight-vtt.virtue.logic.name'}}</option>
          <option value="compassion">{{localize 'overlight-vtt.virtue.compassion.name'}}</option>
          <option value="will">{{localize 'overlight-vtt.virtue.will.name'}}</option>
          <option value="vigor">{{localize 'overlight-vtt.virtue.vigor.name'}}</option>
          <option value="might">{{localize 'overlight-vtt.virtue.might.name'}}</option>
          {{/select}}
        </select>
      </div>
      <div class="flexrow">
        <label for="character-sheet.background">
          {{localize 'overlight-vtt.character.background'}}
        </label>
        <input id="character-sheet.background" name="data.background" value="{{data.background}}" type="text" />
      </div>
      <div class="flexrow">
        <label for="character-sheet.xp">
          {{localize 'overlight-vtt.character.xp'}}
        </label>
        <input id="character-sheet.xp" name="data.xp" value="{{data.xp}}" type="text" />
      </div>
    </div>
    <div class="flexcol o-cs-profile-image">
      <img src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />
    </div>
  </div>
  <div class="flexrow">
    <div class="flexcol o-cs-virtues">
      <div class="flexrow o-spirit o-cs-virtue-row">
        <div class="flexcol o-flex-center o-w100">
          <div class="o-v-svg">
            {{get_svg 'spirit'}}
          </div>
          <div class="o-label">
            {{localize 'overlight-vtt.virtue.spirit.name-caps'}}
          </div>
        </div>
        <div class="flexcol o-w100 o-cs-spirit-pool"
             style="background-image: url('data:image/svg+xml;base64,{{get_svg_b64 'spirit-triangle'}}');">
          <div class="flexrow">
            <input type="number" min="0" id="character-sheet.spirit-pool" name="data.spiritPool"
                   value="{{data.spiritPool}}">
          </div>
          <div class="flexrow">
            <label for="character-sheet.spirit-pool">
              Spirit Pool
            </label>
          </div>
        </div>
        <div class="flexcol o-w100 o-cs-fury-pool"
             style="background-image: url('data:image/svg+xml;base64,{{get_svg_b64 'fury-triangle'}}');">
          <div class="flexrow">
            <label for="character-sheet.fury-pool">
              Fury Pool
            </label>
          </div>
          <div class="flexrow">
            <input type="number" min="0" id="character-sheet.fury-pool" name="data.furyPool" value="{{data.furyPool}}">
          </div>
        </div>
      </div>
      {{#each data.virtues as |v k|}}
      <div class="flexrow o-{{k}} o-cs-virtue-row">
        <div class="flexcol o-flex-center o-w100">
          <div class="o-v-svg">
            {{get_svg k}}
          </div>
          <div class="o-label">
            {{localize (concat 'overlight-vtt.virtue.' k '.name-caps')}}
          </div>
        </div>
        <div class="flexcol o-flex-center o-w100">
          <div class="o-cs-v-die o-flex-center">
            <select id="character-sheet.virtue.{{k}}.die" name="data.virtues.{{k}}">
              {{#select v}}
              <option value="d6">d6</option>
              <option value="d8">d8</option>
              <option value="d10">d10</option>
              <option value="d12">d12</option>
              {{/select}}
            </select>
          </div>
        </div>
        <div class="flexcol o-cs-virtue-skills">
          {{#each (v2s k) as |s|}}
          <div class="flexrow o-cs-virtue-skill-row">
            <label for="character-sheet.skill.{{s}}" class="o-label">
              {{localize (concat 'overlight-vtt.skill.' s '.name')}}
            </label>
            <select id="character-sheet.skill.{{s}}" name="data.skills.{{s}}" class="overlight-cs-select-die-{{v}}">
              {{#select_it ../../data.skills s}}
              <option value="d6">d6</option>
              <option value="d8">d8</option>
              <option value="d10">d10</option>
              <option value="d12">d12</option>
              {{/select_it}}
            </select>
          </div>
          {{/each}}
        </div>
      </div>
      {{/each}}
    </div>
    <div class="flexcol o-cs-health">
      Health Track
    </div>
    <div class="flexcol o-cs-misc">
      <div class="flexrow o-cs-textarea o-cs-gifts">
        <div class="flexcol">
          <label for="character-sheet.gifts" class="o-cs-heading">Gifts</label>
          <textarea id="character-sheet.gifts" name="data.gifts" rows="5">{{data.gifts}}</textarea>
        </div>
      </div>
      <div class="flexrow o-cs-textarea o-cs-belongings">
        <div class="flexcol">
          <label class="o-cs-heading" for="character-sheet.belongings">Belongings</label>
          <textarea id="character-sheet.belongings" name="data.belongings" rows="5">{{data.belongings}}</textarea>
        </div>
      </div>
      <div class="flexrow o-cs-textarea o-cs-wealth">
        <div class="flexcol o-wealth">
          <label class="o-cs-heading">Wealth</label>
          <div class="o-cs-wealth-rows">
            <div class="flexrow o-cs-virtue-skill-row">
              <label for="character-sheet.wealth-die" class="o-label">
                Wealth Die
              </label>
              <select id="character-sheet.wealth-die" name="data.wealthDie" class="overlight-cs-select-die-wealth">
                {{#select data.wealthDie}}
                <option value="">n/a</option>
                <option value="d4">d4</option>
                <option value="d6">d6</option>
                <option value="d8">d8</option>
                <option value="d10">d10</option>
                <option value="d12">d12</option>
                {{/select}}
              </select>
            </div>
            <div class="flexrow o-cs-virtue-skill-row">
              <label for="character-sheet.wealth-pool" class="o-label">
                Wealth Pool
              </label>
              <input id="character-sheet.wealth-pool" name="data.wealthPool" class="overlight-cs-select-die-wealth"
                     type="number" min="0" value="{{data.wealthPool}}" />
            </div>
          </div>
        </div>
      </div>
      <div class="flexrow o-cs-textarea o-cs-valuable">
        <div class="flexcol">
          <label class="o-cs-heading" for="character-sheet.valuables">Valuables</label>
          <textarea id="character-sheet.valuables" name="data.valuables" rows="5">{{data.valuables}}</textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="flexrow o-cs-chroma-heading">
    <div class="flexcol">
      <label class="o-cs-heading">Chroma</label>
    </div>
  </div>

  <div class="flexrow o-cs-chroma">
    {{#each data.chroma as |v k|}}
    1:{{v}}
    2:{{k}}
<!--    <div class="flexrow">-->
<!--      <p>Row {{j}}</p>-->
<!--      <div class="flexcol">-->
<!--        <div class="flexrow">-->
<!--          Chroma-->
<!--        </div>-->
<!--        <div class="flexrow">-->
<!--          Virtue + Virtue-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="flexcol">-->
<!--      <p>I: {{i}}</p>-->
<!--      <p>R: {{../rows}}</p>-->
<!--      <p>C: {{../../chroma.rows}}</p>-->

<!--      {{#each ../rows as |j|}}-->
<!--      {{/each}}-->

<!--    </div>-->
    {{/each}}
  </div>

  <div>
    Debug
    <pre>
{{stringify this}}
    </pre>
  </div>
</form>
